{% extends "base.html" %}

{% block title %}Search &mdash; {{ SITENAME }}{% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

var getQueryString = function ( field, url ) {
	var href = url ? url : window.location.href;
	var reg = new RegExp( '[?&]' + field + '=([^&#]*)', 'i' );
	var string = reg.exec(href);
	return string ? string[1] : null;
};

$.getJSON( "https://customsearch.googleapis.com/customsearch/v1?cx=5211ec11c226e8e1f&exactTerms="+getQueryString('q')+"&key=AIzaSyCQBucJy_TQyx_zbTRCqKnpuGVvOKn6ARg", function( data ) {
  var items = [];
  for (var i = 0; i < data.searchInformation.totalResults; i++) {
    var pushitem="<li id='" + i + "'>" + "<a href='"+ data.items[i].formattedUrl +"'>"+data.items[i].title+"</a><br>"+data.items[i].snippet+ "</li>";
    items.push(pushitem);
  };

  document.getElementById("gcse-searchresults-only").innerHTML=items;
  });
</script>

<div>
	<article role="article">
        <header>
    		<h1 class="entry-title">Search Results</h1>
    	</header>

        <div id="gcse-searchresults-only"></div>
    </article>
</div>


{% endblock %}